# Python
__pycache__/
*.py[cod]

# Ambiente virtual
.venv/
venv/

# Variáveis de ambiente
.env
*.env

# Mantém exemplos de configuração
!.env.example

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log